<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Eventos APP</title>
</head>
<body>
    <h1>Cadastro de Evento</h1>
        <form class="container" method="post">
            Nome :<input type="text" value="" name="nome">
            Sobrenome :<input type="text" value="" name="sobreNome">

            <button type="submit">Salvar</button>


        </form>
</body>
</html>